<div class="example-container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input #name matInput placeholder="Imię i nazwisko">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input #hours matInput type="number" placeholder="Godziny">
    </mat-form-field>
  </form>
      <mat-form-field class="example-form">
          <mat-select placeholder="Stawka NOK" (change)="getWageValueFromForm($event)">
            <mat-option value="option" *ngFor="let one of ratePerHourTypes">{{one}}</mat-option>
          </mat-select>
      </mat-form-field>
  <button class="example-form" mat-raised-button color="accent" (click)="addEmployee(name.value,hours.value,ratePerHour,summaryBrutto,summaryNetto,employees.length)">Dodaj</button>
  <button class="example-form" mat-raised-button color="accent" (click)="addEmployee(name.value,hours.value,ratePerHour,summaryBrutto,summaryNetto,employees.length)">Zapisz dane</button>
</div>
