@keyframes example {
    0%   {background-color:white; left:0px; top:0px;}
    25%  {background-color:rgb(0, 140, 255); left:200px; top:0px;}
    50%  {background-color:rgb(139, 192, 174); left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:rgb(189, 44, 44); left:0px; top:0px;}
}

body{
  background-color: rgba(59, 66, 68, 0.637);
    height: 1000px;
  }

nav{
  background-color: rgba(35, 40, 41, 0.637);
  padding: 25px;
}

